torch==2.2.2 # google colab has torch 2.6.0+cu124
torchvision==0.17.2 # google colab torchvision 0.21.0+cu124

# same as colab:
certifi==2025.4.26
ipykernel==6.17.1 
matplotlib==3.10.0
numpy==2.0.2
pandas==2.2.2
# scikit-learn==1.6.1
# scipy==1.15.2
# seaborn==0.13.2
tqdm==4.67.1




